<section id="blog">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><strong>I wrote about</strong></h2>
                <hr class="primary">
                <ul class="fa-ul">
                    {% for post in site.posts limit 4 %}
                    <li><i class="fa fa-times"></i>
                        <span>{{ post.date | date_to_string }}</span>
                        <a href="{{ BASE_PATH }}{{ post.url }}"><h3 style="font-weight: 600;">{{ post.title }}</h3></a>
                    </li>
                    <p>{{ post.content | strip_html | truncatewords:50}}</p>
                    <br><br>
                    {% endfor %}
                </ul>
                <a href="{{ site.url }}posts" class="btn btn-primary btn-xl">All posts</a>

            </div>
        </div>
    </div>
</section>
