<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><strong>whoami</strong></h2>
                <hr class="light">
                <p class="text-faded">I'm a new developer currently exploring all the different
                          ways in which code can change the world. My learning experience has
                          ranged from building tools for coders and data manipulation to even building websites.
                          I love Python, sci-fi, puzzles and turning complexity into simplicity.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Find me</a>
            </div>
        </div>
    </div>
</section>
