<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><strong>whoami</strong></h2>
                <hr class="light">
                <p class="text-faded">With a (questionable) mathematics background and naturally
                        interested in computer science, I'm exploring how code can change the world.
                        I love Python, sci-fi, puzzles and turning complexity into simplicity.
                        Current obsession: AI, Reinforcement learning.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Find me</a>
            </div>
        </div>
    </div>
</section>
