<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-4">
                <a href="https://github.com/cyluun/alfe" class="portfolio-box">
                    <img src="img/portfolio/alfepor.png" class="img-responsive" alt="coding-productivity">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                TOOLS
                            </div>
                            <div class="project-name">
                                Alfe - a todo parser
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="http://nymfeszarouxla.gr/" class="portfolio-box">
                    <img src="img/portfolio/nympor.png" class="img-responsive" alt="web-design">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                FRONT-END
                            </div>
                            <div class="project-name">
                                Nymfes website
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="https://github.com/cyluun/history-weather-matplotlib" class="portfolio-box">
                    <img src="img/portfolio/plotpor.png" class="img-responsive" alt="python-matplotlib">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                FUN WITH DATA
                            </div>
                            <div class="project-name">
                                Plotting from data sets
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
