<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include blog-header.html %}

    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="page-content">
                  <div class="wrapper">
                    {{ content }}
                  </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <div class="container text-center">
        <a href="{{ site.url }}" class="btn btn-primary btn-xl page-scroll">Back to Home</a>
    </div>
    <br><br><br>

    {% include contact.html %}

  </body>

</html>
